---
import Layout from '../layouts/Layout.astro';
---
<Layout title="homepage">
  <div class="homepage">
    <section>
      <h1>This is a header</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat dui non velit sodales, at suscipit magna rutrum. Duis sagittis nisi eu magna rutrum, quis tristique mauris interdum. Mauris est urna, interdum et accumsan ac, efficitur non mauris. Donec ultrices posuere ex, quis cursus leo convallis porta. Quisque tincidunt bibendum massa, quis commodo ligula malesuada eu. Sed aliquam in sem eget consequat. Praesent nulla tellus, pellentesque in sodales nec, luctus eget purus. Phasellus sed ipsum sollicitudin, egestas lectus sed, suscipit erat. Morbi gravida est at dolor vulputate malesuada. Morbi lorem felis, auctor eu enim quis, viverra tempus tortor. Duis mauris massa, tristique non ex nec, pretium rhoncus sapien. Ut elementum commodo est vitae mattis. Praesent turpis ante, malesuada nec rutrum ut, fermentum eget sapien. Curabitur a nulla vehicula, interdum dui sed, ultrices quam. Sed et turpis quis nisi vestibulum auctor.
        <br><br>
        Suspendisse elementum, erat nec convallis euismod, magna metus rutrum magna, eget imperdiet orci eros sed lorem. Nulla ac lacus at nisi feugiat varius. Fusce a malesuada nunc, nec maximus nunc. Proin cursus elit id odio auctor, et tristique tortor faucibus. Ut blandit diam tortor, et efficitur ligula eleifend id. Proin lacinia feugiat odio nec mattis. Ut eu sapien eget libero semper blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod enim semper purus lacinia convallis. Sed faucibus elementum turpis non iaculis. Suspendisse dignissim urna vitae facilisis posuere.</p>
      <br>
      <br>
      <p>0000000000000000000 00000000000 00000000000 000000000 0000 0000000</p>
    </section>
  </div>
</Layout>


<style>
  .homepage {
    width: 90%;
    margin: auto;
    display: grid;
    justify-items: center;
  }

  section { 
    width: 60%;
  }

  section > p {
    width: 40ch;
  }
</style>