---
type ReactLogoProps = {
  size?: 'small' | 'large',
};

const { size } = Astro.props as ReactLogoProps;
---

<div id="react-logo">
  <div id="rising" class={`orbit`}></div>
  <div id="falling" class={`orbit`}></div>
  <div id="horizontal" class={`orbit`}></div>
  <div id="nucleus"></div>
</div>

<style>

  .orbit {
    border: .375rem solid deepskyblue;
    background: transparent;
    border-radius: 100% 25%;
    width: 5rem;
    height: 5rem;

    transition: all .5s;
  }

  #react-logo {
    position: relative;
    width: fit-content;
    height: fit-content;
    /* animation: spin 3s infinite linear; */
  }
  #nucleus.active{
    animation-name: move-nucleus;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  @keyframes move-nucleus {
    0% { transform: scale(1); pointer-events: none }
    100% { transform: translateX(-45vw) translateY(45vh) scaleX(300) scaleY(300); opacity: 0; pointer-events: none }
  }

  /* #react-logo.active #rising {
    background: white;
    z-index: 1;
    border: .1rem solid white;
    border-radius: 0;
    width: .5rem;
    transform: rotateZ(45deg);
  }

  #react-logo.active #falling {
    background: white;
    z-index: 1;
    border: .1rem solid white;
    border-radius: 0;
    width: .5rem;
    transform: rotateZ(-45deg);
  }

  #react-logo.active #horizontal {
    border: .1rem solid transparent;
  } */

  #rising {
    transform: rotateY(45deg);
  }
  #falling {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-45deg) rotateZ(90deg);
  }
  #horizontal {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(45deg) rotateZ(45deg);
  }

  #nucleus {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: deepskyblue;
    transition: all 0.25s;
    cursor: pointer;
  }


</style>