---
type ReactLogoProps = {
  size?: 'small' | 'large',
};

const { size } = Astro.props as ReactLogoProps;
---

<div id="react-logo">
  <div id="nucleus"></div>
  <div id="rising" class={`orbit`}></div>
  <div id="falling" class={`orbit`}></div>
  <div id="horizontal" class={`orbit`}></div>
</div>

<style>

  .orbit {
    border: .375rem solid deepskyblue;
    background: transparent;
    border-radius: 100% 25%;
    width: 5rem;
    height: 5rem;

    transition: all .5s;
  }

  .orbit.red {
    border: .375rem solid black;
  }
  .orbit.black {
    border: .375rem solid yellow;
  }
  .orbit.orange {
    border: .375rem solid deeppink;
  }

  #react-logo {
    position: relative;
    width: fit-content;
    height: fit-content;
    /* animation: spin 3s infinite linear; */
  }

  #nucleus.active {
    pointer-events: none;
  }

  #nucleus.active ~ #rising{
    transform: rotateY(335deg);
    width: 6rem;
    height: 6rem;
  }
  #nucleus.active ~ #falling {
    transform: rotateY(-245deg);
    width: 6rem;
    height: 6rem;
  }
  #nucleus.active ~ #horizontal {
    transform: rotateX(145deg);
    width: 6rem;
    height: 6rem;
  }
  /* #nucleus.active ~ #horizontal {
    transform: rotateZ(40deg);
  } */

  /* #react-logo.active #rising {
    background: white;
    z-index: 1;
    border: .1rem solid white;
    border-radius: 0;
    width: .5rem;
    transform: rotateZ(45deg);
  }

  #react-logo.active #falling {
    background: white;
    z-index: 1;
    border: .1rem solid white;
    border-radius: 0;
    width: .5rem;
    transform: rotateZ(-45deg);
  }

  #react-logo.active #horizontal {
    border: .1rem solid transparent;
  } */

  #rising {
    transform: rotateY(45deg);
  }
  #falling {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-45deg) rotateZ(90deg);
  }
  #horizontal {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(45deg) rotateZ(45deg);
  }

  #nucleus {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: deepskyblue;
    transition: all 0.25s;
    cursor: pointer;
    z-index: 20;
    cursor: pointer;
  }


</style>